<div class="chat-status">
  <div class="chat">
    <h1>Chat</h1>
    <div class="search">
      <%= form_for(:user, url: search_users_path) do |f| %>
        <%= f.hidden_field :room_id, value: params[:id] %>
        <%= f.text_field :user_name %>
      <% end %>
    </div>
    <div id="messages" data-room_id="<%= @room.id %>">
      <%= render @messages if !@messages.nil? %>
    </div>
    <div class="form">
      <%= render 'messages/message_form' %>
    </div>
  </div>
  <div class="status">
    <%= render template: 'onlines/index' %>
  </div>
</div>
